@model string
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Areas/Public/Views/Shared/_PublicLayout.cshtml";
}
<link href="~/public/css/animate.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/public/css/bootstrap.min.css">
<link rel="stylesheet" href="~/public/css/cubeportfolio.min.css">
<link rel="stylesheet" href="~/public/css/font-awesome.css">
<link rel="stylesheet" href="~/public/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/public/css/magnific-popup.min.css">
<link rel="stylesheet" href="~/public/css/owl-carousel.min.css">
<link rel="stylesheet" href="~/public/css/slicknav.min.css">
<!-- OCM Stylesheet -->
<link rel="stylesheet" href="~/public/css/reset.css">
<link rel="stylesheet" href="~/public/css/style.css">
<link rel="stylesheet" href="~/public/css/responsive.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="~/public/js/jquery.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/toastr.js"></script>
@if (TempData["response"] != null)
{
    <script>
		$(document).ready(function () {
			var success = '@((TempData["response"] != null).ToString())';
			if (success == 'false' || success == false) {
			} else {
				toastr.info('@TempData["response"].ToString()')
			}
		});
    </script>
}
<div class="paragraph bg-warning " style="padding:15px;">
    <p class=" text-dark" style="font-size:16px;">Forgot your Password? No worries you can reset it easily! </p>
</div>
<form asp-action="ForgotPassword" method="post" style="margin-top: 15px;">
    <div class="col-lg-12 col-md-12 col-12" style="marign-top:15px">
        <div class="form-group">
            <label style="color:indigo; font-size:14px;"> Enter Your Registered Email Address :</label>
            <input name="email" class="form-control" placeholder="Email" class="fa fa-user" style="width:30%" required/>
            @*<input name="TextBoxusername" type="text" id="TextBoxusername" required="required" placeholder="Username" />*@
        </div>
    </div>
    <button class="btn btn-primary" type="submit" style="margin:10px;">Submit</button>
</form>