@model OCMDomain.Repository.Edmx.ForgotPaswordTble
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Areas/Public/Views/Shared/_PublicLayout.cshtml";
}
@{
    ViewBag.Title = "ForgetPassword";
}

<!-- OCM Plugins CSS -->
<link href="~/public/css/animate.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/public/css/bootstrap.min.css">
<link rel="stylesheet" href="~/public/css/cubeportfolio.min.css">
<link rel="stylesheet" href="~/public/css/font-awesome.css">
<link rel="stylesheet" href="~/public/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/public/css/magnific-popup.min.css">
<link rel="stylesheet" href="~/public/css/owl-carousel.min.css">
<link rel="stylesheet" href="~/public/css/slicknav.min.css">

<!-- Jquery JS -->
<script src="~/public/js/jquery.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>


<!-- OCM Stylesheet -->
<link rel="stylesheet" href="~/public/css/reset.css">
<link rel="stylesheet" href="~/public/css/style.css">
<link rel="stylesheet" href="~/public/css/responsive.css">
<!-- Breadcrumb -->
<div class="breadcrumbs overlay" style="background-image: url('/public/img/breadcrumb.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <!-- Bread Menu -->
                    <div class="bread-menu">
                        <ul>
                            <li><a href="~/Public/Public/index">Home</a></li>
                            <li><a href="#">Forget Password</a></li>
                        </ul>
                    </div>
                    <!-- Bread Title -->
                    <div class="bread-title">
                        <h2>Forget Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Breadcrumb -->
<!-- Contact Us -->
<section class="contact-us section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Contact Form -->
                <div class="contact-form-area m-top-30">
                    <h4><Center>Forgot Password</Center></h4>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="aspNetHidden">
                            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="lLQia49v4Lg6XuixAq1SPuAvQmvTVHXqhRSVB00ZypMFYnf/7o92SqKP9yFlXnFRLL0d/z1B7IjfSAfsGJH3tydjlXhz5t6yMIcthqKK0zQ=" />
                        </div>

                        <div class="aspNetHidden">

                            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="AA11CAEF" />
                            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="8Pyotw1mGR5ThoIRvjYEwre7OJK6KFPRgvq/7aUeGF89PxREULF5h/0wJf7LQ5L4cR1sDJlaHjScGPEQEgCnu2MIH16LTw9IpzeC8+M37foeRAj4akTzb581ylHYwaxz1noKWBKrN0b4KdTPuXxfyQ==" />
                        </div>
                        <div class="row">
                            <span id="Labelerror" style="color:Red;"></span>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group">
                                    <div class="icon"><i class="fa fa-envelope"></i></div>
                                    <label>Email</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    <!--<input name="TextBoxemail" type="email" id="TextBoxemail" required="required" placeholder="Email Address" />-->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <input type="submit" name="Buttonsend" value="RESET PASSWORD" id="Buttonsend" class="bizwheel-btn theme-2" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--/ End contact Form -->
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->
<!-- Footer -->


<!-- Jquery JS -->
<script src="~/public/js/jquery.min.js"></script>
<script src="~/public/js/jquery-migrate-3.0.0.js"></script>
<!-- Popper JS -->
<script src="~/public/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/public/js/bootstrap.min.js"></script>
<!-- Modernizr JS -->
<script src="~/public/js/modernizr.min.js"></script>
<!-- ScrollUp JS -->
<script src="~/public/js/scrollup.js"></script>
<!-- FacnyBox JS -->
<script src="~/public/js/jquery-fancybox.min.js"></script>
<!-- Cube Portfolio JS -->
<script src="~/public/js/cubeportfolio.min.js"></script>
<!-- Slick Nav JS -->
<script src="~/public/js/slicknav.min.js"></script>
<!-- Slick Nav JS -->
<script src="~/public/js/slicknav.min.js"></script>
<!-- Slick Slider JS -->
<script src="~/public/js/owl-carousel.min.js"></script>
<!-- Easing JS -->
<script src="~/public/js/easing.js"></script>
<!-- Magnipic Popup JS -->
<script src="~/public/js/magnific-popup.min.js"></script>
<!-- Active JS -->
<script src="~/public/js/active.js"></script>
