<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
<body id="bg">
    <!-- Boxed Layout -->
    <div id="page" class="site boxed-layout">
        <h3>Welcome To Accountant Dashboard</h3>
    </div>
</body>
</html>